#content {
    padding-top: 179px;
    width: 60%;
    margin: 0 auto;
    font-family: 'Nanum Gothic', sans-serif;
}
.member_tab {
    padding: 30px 0;
    border-top: 1px solid #333
}

.member_tab a {
    font-size: 24px;
    padding: 10px;
    margin: 0 10px;
    color: #aaa;
}

.member_tab a.on {
    color: #000;
    border-bottom: 2px solid #000;
    font-weight: bold
}

.member_tab span {
    font-size: 24px;
    padding: 10px;
    margin: 0 10px;
    color: #000;
    font-weight: bold
}

.join {
    text-align: left
}

.join h4 {
    font-size: 16px;
    margin-top: 30px
}

.join .policy {
    padding: 10px;
    overflow-y: scroll;
    height: 150px;
    margin: 10px 0;
    border: 1px solid #ddd
}

.join .button {
    text-align: center;
    margin-top: 30px
}

.join .button .ok,
.join .button button {
    display: inline-block;
    width: 150px;
    line-height: 24px;
    padding: 8px 0;
    border: none;
    background: #a8191f;
    color: #fff;
    font-size: 14px;
    cursor: pointer
}
.join .allcheck{
    display: block;
    padding: 15px 15px 15px 0;
    font-weight: bold;
}
.join .cancel {
    display: inline-block;
    width: 150px;
    line-height: 24px;
    padding: 8px 0;
    border: none;
    background: #999;
    color: #fff;
    font-size: 14px;
    cursor: pointer
}