.dropdown{
    width: 800px;
    margin: 0 auto;/*
    background-color: powderblue;*/
    padding: 50px 0 100px;
}

.dropBtn{
    background-color: skyblue;
    color: #fff;
    position: relative;
    z-index: 9;
    left: 50%;
    margin-left: -51px;
    padding: 10px;
    border-radius: 5px;
}
.dropdown-content{
    text-align: center;
    /*padding: 5px;*/
    display: none;
    position: relative;
    transform: translate3d(0,-100px,0);
}
li{
    margin: 0 auto;
    width: 102.98px;
    border-bottom: 1px solid gold;
    
}
.dropBtn:hover + .dropdown-content{
    display: block;
    transform: translate3d(0,0,0);
}
.dropdown-content:hover{
    display: block;
    transition: all .5s;
    transform: translate3d(0,0,0);
}